@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="search-bar">
        <input type="text" id="movieSearch" placeholder="Search for a movie..." />
        <select id="filterDropdown">
            <option value="">Show all</option>
            <option value="movies">Movies</option>
            <option value="tvshows">TV Shows</option>
        </select>
    </div>

    <div id="moviesGrid"  class="movies-grid">
        <!-- The movie cards will be dynamically populated here -->
    </div>
</div>

<script src="~/js/Home.js"></script>


