@model List<int>

@{
    ViewData["Title"] = "Favorites";
}

<h1>My Favorite Movies</h1>

<div id="favoritesContainer" class="container">
    <!-- Movie cards will be injected here -->
</div>

@section Scripts {
    <script src="~/js/MovieListRenderer.js"></script>
    <script>
        const favoriteIDs = @Html.Raw(Json.Serialize(Model));
        renderMovieList(favoriteIDs, 'favoritesContainer');
    </script>
}


