@model List<int>

@{
    ViewData["Title"] = "Watched Movies";
}

<h1>My Watched Movies</h1>

<div id="watchedContainer" class="container">
    <!-- Movie cards are injected here -->
</div>

@section Scripts {
    <script src="~/js/MovieListRenderer.js"></script>
    <script>
        const watchedIDs = @Html.Raw(Json.Serialize(Model));
        renderMovieList(watchedIDs, 'watchedContainer');
    </script>
}

