/* General styles for Account page */
.account-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.account-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Account fields */
.account-info {
  width: 100%;
}

.account-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.account-field label {
  flex: 1;
  font-weight: bold;
  color: #e50914; 
  text-align: left;
}

.account-field span {
  flex: 2;
  color: #ccc; 
  text-align: left;
  
}

.account-field input {
  flex: 2;
  text-align: left;
  font-size: 15px;
}

/* Edit, Save, Cancel icons */
.edit-icon {
  color: #e50914;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 10px; 
}

.edit-icon:hover {
  color: #fff;
}

.save-icon, .cancel-icon {
  margin-left: 10px; 
}

.cancel-icon {
  margin-right: 10px;
}

.hidden {
  display: none;
}

/* Profile picture */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #e50914;
  object-fit: cover;
  margin-bottom: 20px;
}