/* Stying for Favorites, Watched and Watch Later pages*/
#favoritesContainer, #watchedContainer, #watchLaterContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    justify-items: center;
    padding: 20px;
}
