/* Layout styling for Favorites, Watch Later and Watched pages*/
#favoritesContainer, #watchedContainer, #watchLaterContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  justify-items: center;
  padding: 20px;
}
