@model List<int>

@{
    ViewData["Title"] = "Watch Later";
}

<h1>Movies to Watch Later</h1>

<div id="watchLaterContainer" class="container">
    <!-- Movie cards will be injected here -->
</div>

@section Scripts {
    <script src="~/js/MovieListRenderer.js"></script>
    <script>
        const watchLaterIDs = @Html.Raw(Json.Serialize(Model));
        renderMovieList(watchLaterIDs, 'watchLaterContainer');
    </script>
}

